<h1 class='yokoso'>ようこそBookersへ！</h1>

<p class='description'><span class='bookers'>Bookers</span>では、様々な書籍に関するあなたの意見や、<br>
印象を共有することができます。</p>

<div class='start-botton'><%= link_to 'start', '/books' %></div>

